_site/*
_theme_packages/*

Thumbs.db

!.gitkeep

.rbenv-version
.rvmrc
/vendor

*.pkl
*.swp
*.pickle
*.xml
*.bin
*.zip
*.h5
*.npy
*.vgp
*.gn
*.both
*.en
*.it
*.idea
*.DS_Store

.ipynb_checkpoints
**/*.ipynb_checkpoints/

*.pyc
**/*.pyc
